@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Mono&display=swap");
html, body {
  margin: 0;
  padding: 0;
  box-shadow: 0; }

header {
  height: 100px;
  background-color: #5faad0;
  font-family: 'Dancing Script', cursive;
  display: grid;
  place-items: center;
  font-size: 50px;
  padding: 0 20px;
  color: #082350;
  position: relative; }
  header .hamburger {
    position: absolute;
    right: 20px;
    transform: scale(0.8);
    display: none; }

content {
  background-color: #dac7e3;
  min-height: calc(100vh - 100px);
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 60px;
  padding-bottom: 150px; }
  content .new-listing {
    width: 100%;
    max-width: 600px;
    background-color: #5faad0;
    height: 83px;
    border-radius: 20px;
    padding-left: 25px;
    display: flex;
    align-items: center; }
    content .new-listing input {
      background: transparent;
      border: 0;
      width: 100%;
      font-size: 25px;
      font-family: 'Roboto Mono', monospace; }
      content .new-listing input:focus {
        outline: none; }
    content .new-listing button {
      cursor: pointer;
      margin-left: 12px;
      min-height: 100%;
      min-width: 100px;
      background-color: #b090be;
      border: 0;
      padding: 0;
      font-size: 50px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      display: grid;
      place-items: center; }
      content .new-listing button .new-listing__plus {
        position: relative;
        z-index: 2;
        display: block;
        width: 50px;
        height: 50px;
        background: transparent;
        transition: transform 0.25s; }
        content .new-listing button .new-listing__plus:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          display: block;
          width: 40px;
          height: 4px;
          background: #aedcf3;
          transform: translate(-50%, -50%); }
        content .new-listing button .new-listing__plus:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          display: block;
          width: 4px;
          height: 40px;
          background: #aedcf3;
          transform: translate(-50%, -50%);
          transition: all 0.05s; }
  content .shopping-list {
    margin-top: 60px;
    width: 100%;
    max-width: 600px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    content .shopping-list__listing {
      width: 100%;
      background-color: #5faad0;
      border-radius: 20px;
      padding-left: 25px;
      display: flex;
      justify-content: space-between; }
      content .shopping-list__listing p {
        font-family: 'Roboto Mono', monospace;
        font-size: 25px;
        max-width: calc(100% - 100px);
        overflow: hidden;
        word-break: break-word;
        text-transform: capitalize; }
      content .shopping-list__listing button {
        cursor: pointer;
        margin-left: 12px;
        min-height: 100%;
        min-width: 100px;
        background-color: #b090be;
        border: 0;
        padding: 0;
        font-size: 50px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        display: grid;
        place-items: center; }
        content .shopping-list__listing button .delete-listing-button__minus {
          position: relative;
          z-index: 2;
          display: block;
          width: 50px;
          height: 50px;
          background: transparent;
          transition: transform 0.25s; }
          content .shopping-list__listing button .delete-listing-button__minus:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 40px;
            height: 4px;
            background: #aedcf3;
            transform: translate(-50%, -50%); }

@media (max-width: 768px) {
  header {
    font-size: 35px; }
  content {
    padding-top: 40px; }
    content .new-listing {
      height: 56.5px; }
      content .new-listing button {
        min-width: 70px; }
        content .new-listing button .new-listing__plus:before {
          width: 25px;
          height: 3px; }
        content .new-listing button .new-listing__plus:after {
          height: 25px;
          width: 3px; }
    content .shopping-list {
      margin-top: 40px; }
      content .shopping-list__listing {
        padding-left: 20px; }
        content .shopping-list__listing p {
          max-width: calc(100% - 70px);
          font-size: 17px; }
        content .shopping-list__listing button {
          min-width: 70px; }
          content .shopping-list__listing button .delete-listing-button__minus:before {
            width: 25px;
            height: 3px; } }
